<?xml version="1.0" encoding="UTF-8"?>
<!-- status: log4j2 log level, monitorInterval="30" could let auto reload 
	the config -->
<Configuration status="OFF">
  <Properties>
    <Property name="LOG_HOME">/var/log/@project.artifactId@</Property>
    <!-- %l for point to line -->
    <Property name="PatternLayoutConsole">%d{HH:mm:ss.SSS} %highlight{[%-5level] [%c{36}] %msg%n}</Property>
    <Property name="PatternLayoutFile">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%c{36}] %msg%n</Property>
  </Properties>

  <Loggers>
    <Root level="TRACE">
      <AppenderRef ref="Console" />
      <AppenderRef ref="RollingFile" />
    </Root>

  </Loggers>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <ThresholdFilter level="TRACE" />
      <PatternLayout>
        <disableAnsi>false</disableAnsi>
        <Pattern>${PatternLayoutConsole}</Pattern>
      </PatternLayout>
    </Console>

    <RollingFile name="RollingFile" fileName="${LOG_HOME}/@project.artifactId@.log"
      filePattern="${LOG_HOME}/@project.artifactId@.%d{yyyy-MM-dd}.log" append="true">
      <ThresholdFilter level="INFO" />
      <PatternLayout>
        <Pattern>${PatternLayoutFile}</Pattern>
      </PatternLayout>

      <Policies>
        <!-- Apply policies every 1 day -->
        <TimeBasedTriggeringPolicy modulate="true" interval="1" />
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${baseLogDir}" maxDepth="1">
          <IfFileName glob="*.log" />
          <IfLastModified age="15d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>

</Configuration>